<a href<ui class="nav-item">
 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MovieSearch">Movie Search</a>

 <a href<ui class="nav-item">
 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MovieNight">Movie Night
 <button>Draw 5 Cards</button>
 </a>

